
main {
    display: block;
    margin-left: 100px;
    margin-right: 100px;
    
}
footer {
    display: block;
    margin-left: 100px;
    margin-right: 100px;
    
}
header img{
    display: block;
    margin-left: 100px;
    margin-right: 100px;
    
}
header p{
    display: block;
    margin-left: 100px;
    margin-right: 100px;
    
}
header h1{
    display: block;
    margin-left: 100px;
    margin-right: 100px;
    
}
