html{
    font-size: 24px;
}
.container {
    width: 100%;
    height: 170px;
    background-image: url(./img/pattern.png);
    background-color: #00aeff;
    position: relative;
}

.container img{
    width: 20%; 
    position: absolute;   
    bottom: 15px;
    left: 5px;
}
header h1{
    font-size: 2.8em;
    margin-bottom: 0px;
}
header span{
    color: #00aeff;
}
header p {
    margin-top: 0px;
}


.image-1{
    width: 52%;
    height: 510px;
    background-image: url(./img/tim-1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    display: inline-block;
    
}

.image-2 {
    width: 45%;
    height: 510px;
    background-image: url(./img/tim-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}
.testo-image{
margin-top: 0%;
}
ul{
margin-top: 70px;
}

li{
    line-height: 0px;
}
table{
    margin-top: 75px;
    border-collapse: collapse;
    border-spacing: 0;
}
thead{
    background-color:#00aeff;
    border-color: #00aeff;
    text-align: left;
}
thead th{
    color:#fff;

}
td{
    width: 30%;
}
.riga-azzurra{
    background-color: #9ecbfc;
}

div span{
    background-color: #ffff00;
}
.titolo-footer{
    color: #808080;
}

footer img{
    display: block;
    padding-bottom: 15px;
}
.scritta-foto1{
    margin: 0px;
    padding-top: 10px;
    padding-left: 8px;
    background-image: url(./img/monitor.jpg);
    background-repeat: no-repeat;
    color: #FFFFFF;
    width: 312px;
    height: 208px;
  }
  .scritta-foto2{
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 8px;
    background-image: url(./img/graph.jpg);
    background-repeat: no-repeat;
    color: #FFFFFF;
    width: 312px;
    height: 208px;
  }
